/node_modules
/public/hot
/public/storage
/public/css
/public/uploads
/public/fonts
/public/icons
/public/images
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composter.lock
.env
/public/mix-manifest.json
/package-lock.json
/composer.lock
/public/js

