.table-block.table-filial-autoschool-finance {
  .number-item {
    flex: 0 0 5%;
    max-width: 5%;
  }
  .school-item {
    flex: 0 0 17%;
    max-width: 17%;
  }
  .name-group-item {
    flex: 0 0 23%;
    max-width: 23%;
  }
  .pay-item {
    flex: 0 0 12%;
    max-width: 12%;
  }
  .date-item {
    flex: 0 0 14%;
    max-width: 14%;
  }
  .sum-item {
    flex: 0 0 9%;
    max-width: 9%;
  }
  .commission-item {
    flex: 0 0 9%;
    max-width: 9%;
  }
  .status-item {
    flex: 0 0 11%;
    max-width: 11%;
  }
}

@media only screen and (max-width: 1199px) {
  .table-block.table-filial-autoschool-finance {
    .number-item {
      flex: 0 0 6%;
      max-width: 6%;
    }
    .school-item {
      flex: 0 0 16%;
      max-width: 16%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .table-block.table-filial-autoschool-finance {
    .pay-item {
      flex: 0 0 11%;
      max-width: 11%;
    }
    .school-item {
      flex: 0 0 15%;
      max-width: 15%;
    }
    .name-group-item {
      flex: 0 0 21%;
      max-width: 21%;
    }
    .sum-item {
      flex: 0 0 11%;
      max-width: 11%;
    }
    .commission-item {
      flex: 0 0 11%;
      max-width: 11%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .table-block.table-filial-autoschool-finance {
    .number-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .school-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .name-group-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .pay-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .date-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .sum-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .commission-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .status-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}