.form-inline > .btn-grey + .comment-block {
  margin: 20px 0 0 0;
}
.table-block.table-filial-autoschool-finance {
  .checkbox-item {
    position: relative;
  }
  .checkbox-item.line-item{
    padding: 0;
  }
  .table-item.number-item{

  }
  .checkbox-item {
    padding: 0;
    max-width: 3%;
    flex: 0 0 3%;
  }
  .number-item {
    padding: 0 0 0 10px;
    flex: 0 0 5%;
    max-width: 5%;
  }
  .school-item {
    flex: 0 0 17%;
    max-width: 17%;
  }
  .name-group-item {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .pay-item {
    flex: 0 0 12%;
    max-width: 12%;
  }
  .date-item {
    flex: 0 0 14%;
    max-width: 14%;
  }
  .sum-item {
    flex: 0 0 9%;
    max-width: 9%;
  }
  .commission-item {
    flex: 0 0 9%;
    max-width: 9%;
  }
  .status-item {
    flex: 0 0 11%;
    max-width: 11%;
  }
  .blockform {
    margin: 25px 0 -30px -10px;
    position: relative;
    background-color: #ebebeb;
    padding: 20px 10px;
    flex: 0 0 calc(100% + 20px);
    max-width: calc(100% + 20px);
    .form-inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: calc(100% - 50px);
      .btn-grey {
        width: 24%;
        margin: 0;
        text-decoration: none;
      }
      input {
        width: 74%;
        height: 55px;
        line-height: 55px;
        border-radius: 30px;
        padding: 0 20px;
        border: 2px solid #ccc;
      }
      .close {
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .blockform.blockform-bottom {
    margin: 0 0 20px 0;
    .form-inline {
      width: 100%;
    }
    .info {
      display: flex;
      justify-content: space-between;
      max-width: 30%;
      flex: 0 0 30%;
      a {
        color: inherit;
      }
    }
    .btn-block {
      flex: 0 0 67%;
      max-width: 67%;
      display: flex;
      justify-content: space-between;
      .btn-grey {
        width: 31%;
        margin: 0;
      }
    }
  }
  .blockform.blockform-error {
    margin: 0 0 20px 0;
  }
  .check-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}

@media only screen and (max-width: 1199px) {
  .table-block.table-filial-autoschool-finance {
    .number-item {
      flex: 0 0 6%;
      max-width: 6%;
    }
    .school-item {
      flex: 0 0 16%;
      max-width: 16%;
    }
    .blockform.blockform-bottom{
      .btn-block{
        flex: 0 0 62%;
        max-width: 62%;
        .btn-grey{
          width: 32%;
        }
      }
      .info{
        flex: 0 0 37%;
        max-width: 37%;
      }
    }
    .check-info-block {
      flex: 0 0 calc(100% - 35px);
      max-width: calc(100% - 35px);
    }
  }
}

@media only screen and (max-width: 991px) {
  .table-block.table-filial-autoschool-finance {
    .pay-item {
      flex: 0 0 11%;
      max-width: 11%;
    }
    .school-item {
      flex: 0 0 15%;
      max-width: 15%;
    }
    .name-group-item {
      flex: 0 0 21%;
      max-width: 21%;
    }
    .sum-item {
      flex: 0 0 11%;
      max-width: 11%;
    }
    .commission-item {
      flex: 0 0 11%;
      max-width: 11%;
    }
    .blockform {
      margin: 10px 0 -30px -10px;
    }
    .comment-item {
      margin: 0 0 15px 25px;
      max-width: 100%;
    }
    .comment-item:last-child {
      margin: 0 0 0 25px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .table-block.table-filial-autoschool-finance {
    .number-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .school-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .name-group-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .pay-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .date-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .sum-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .commission-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .status-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .line{
      .blockform{
        .form-inline{
          width: 100%;
          .close{
            display: block;
            right: 15px;
            top: 10px;
            transform: none;
          }
          input{
            width: 100%;
            margin: 0 0 15px 0;
          }
          .btn-grey{
            width: 100%;
          }
        }
      }
      .blockform{
        padding: 45px 10px 20px;
      }
    }
    .blockform.blockform-bottom{
      .info{
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 0 15px 0;
      }
      .btn-block{
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    .blockform.blockform-error{
      padding: 45px 10px 20px;
      .form-inline{
        width: 100%;
        .close{
          display: block;
          right: 10px;
          top: 10px;
          transform: none;
        }
        input{
          width: 100%;
          margin: 0 0 15px 0;
        }
        .btn-grey{
          width: 100%;
        }
      }
    }
    .comment-item {
      margin: 0 0 15px 15px;
      max-width: 100%;
    }
    .comment-item:last-child {
      margin: 0 0 0 15px;
    }
  }
}
@media only screen and (max-width: 575px){
  .table-coupon{
    .hidden-head-text{
      padding: 0;
    }
    .blockform.blockform-bottom{
      .btn-block{
        flex-wrap: wrap;
        .btn-grey{
          width: 100%;
          margin: 0 0 15px 0;
        }
      }
      .check-info{
        margin: 0 0 0 15px;
      }
    }
    .check-info-block{
      justify-content: flex-start;
    }
    .comment-item {
      margin: 0 0 15px 0;
      max-width: 100%;
    }
    .comment-item:last-child {
      margin: 0;
    }
    .comment-info{
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 5px 0;
    }
    .comment-text{
      flex: 0 0 100%;
      max-width: 100%;

    }
  }
  .investor-coupons .search-form.finance{
    padding: 25px 10px;
  }
}
@media only screen and (max-width: 479px){
  .table-coupon{
    .hidden-head-text{
      flex: 0 0 35%;
      max-width: 35%;
    }
    .line-item-content{
      flex: 0 0 65%;
      max-width: 65%;
      padding-left: 10px;
    }
    .status .fa-info-circle.icon-info-status {
      margin: 0 0 0 5px;
    }
  }
}