.inner-main-content {
  .container {
    .autoschool-coupons {
      .coupons-top-button {
        .top-button {
          padding: 20px 0;
        }
        .btn-grey {
          margin-top: 0;
          padding: 0 40px;
        }
        .selectric {
          width: 250px;
        }
      }
    }
  }
}

